/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font: normal normal 400;
  font-size: 100%;
  line-height: 1.5em;
  /*also written as...  font: normal normal 400 100%/1.5em;*/
  font-family: Avenir, Verdana, sans-serif;
  margin-top: 1em;
  margin-left: 1em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: Avenir, Cousine, Verdana, sans-serif;
  width: 80%;
}

h1 {
  color: #9ac99d;
  text-align: left;
  font-size: 3em;
  line-height: 1em;
  position: relative;
  left: 25%;
}

h1 + p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
}

h2 {
  font-size: 1.1em;
  color: #9ac99d;
  margin-top: 3em;
  position: relative;
  top: 1.4em;
  text-align: right;
  width: 20%;
}

h3 {
  font-size: 1em;
  line-height: 2em;
  position: relative;
  top: 1.7em;
  text-align: right;
  width: 20%;
}

blockquote {
  position: relative;
  left: 25%;
  font-size: 110%;
  width: 55%;
}

blockquote p {
  position: relative;
  font-style: italic;
  display: inline;
  /*to compensate for the p tag property*/
  left: 0;
}

blockquote:before,
q:before {
  position: relative;
  content: open-quote;
  font-size: 2em;
  top: 0.7em;
}

blockquote:after,
q:after {
  position: relative;
  content: close-quote;
  font-size: 2em;
  top: 0.2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  position: relative;
  left: 25%;
  margin-bottom: 0.7em;
  margin-right: 0;
  width: 55%;
}

code {
  font: normal normal;
  font-size: 90%;
  /*line-height: 1em;*/
  font-family: Monaco, Menlo, monospace, sans-serif;
  color: #aaa;
}

p code {
  position: absolute;
  text-align: right;
  right: -20%;
}

ul {
  list-style: none;
}

ol {
  /*list-style: none;*/
}

ul,
ol {
  position: relative;
  left: 25%;
  width: 75%;
  /*margin-top: -0.5em;*/
  margin-bottom: 1.5em;
}

ol li:before {
  position: relative;
  left: -0.25em;
}

li {
  /*second line indent*/
  padding-left: 1.25em;
  text-indent: -1.25em;
}

li ul,
li ol {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 0.25em;
}

a {
  color: #c99d9a;
  text-decoration: none;
}

a:hover {
  /*color: #39f;*/
  color: #9d9ac9;
}

#webaddress {
  margin-top: 1em;
  position: relative;
  left: 25%;
  color: #c99d9a;
  font-family: Monaco, Menlo, monospace, sans-serif;
  font-size: 100%;
  letter-spacing: .2rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/*img.icon,*/
img {
  height: 1em;
  position: relative;
  top: 0.1em;
}

#photo {
  position: absolute;
  height: 200px;
    top: 50px;
    left: -230px;
}

/*
@media only screen and (max-width: 480px) {
  make one column somehow...
}*/