/*
  based on Dave Whipp's style
  http://meyerweb.com
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Layout */
h2,
h3 {
  position: relative;
  width: 20%;
}

h1,
blockquote,
q,
ul,
ol,
p {
  width: 55%;
}

h1,
blockquote,
q,
ul,
ol,
p {
  position: relative;
  left: 25%;
}

p code {
  position: absolute;
  right: -20%;
}

ul {
  list-style: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

/* overwrite the generic number of columns */
ul#web-address {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
/* End of Layout */

body {
  font: normal normal 400;
  font-size: 100%;
  line-height: 1.5em;
  /* also written as...  font: normal normal 400 100%/1.5em; */
  font-family: Avenir, Verdana, sans-serif;
  margin: 1em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: Avenir, Cousine, Verdana, sans-serif;
}

h1 {
  color: #9ac99d;
  text-align: left;
  font-size: 3em;
  line-height: 1em;
}

h1 + p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
}

h2 {
  font-size: 1.1em;
  color: #9ac99d;
  margin-top: 3em;
  top: 1.4em;
  text-align: right;
}

h3 {
  font-size: 1em;
  margin-top: 2em;
  /*line-height: 2em;*/
  top: 1.7em;
  text-align: right;
}

blockquote,
q {
  font-size: 110%;
}

blockquote p {
  font-style: italic;
  display: inline;
  left: 0; /* to compensate for the p tag property */
}

blockquote:before,
q:before {
  content: open-quote;
  font-size: 2em;
  position: relative;
  top: 0.7em;
}

blockquote:after,
q:after {
  content: close-quote;
  font-size: 2em;
  position: relative;
  top: 0.2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin-bottom: 0.7em;
  margin-right: 0;
}

code {
  font: normal normal;
  font-size: 90%;
  /*line-height: 1em;*/
  font-family: Monaco, Menlo, monospace, sans-serif;
  color: #aaa;
}

p code {
  text-align: right;
}

ul {
  list-style: none;
}

ol {
  /*list-style: none;*/
}

ul,
ol {
  /*margin-top: -0.5em;*/
  margin-bottom: 1.5em;
}

ol li:before {
  position: relative;
  left: -0.25em;
}

li {
  /* second line indent */
  padding-left: 1.25em;
  text-indent: -1.25em;
}

li ul,
li ol {
  left: 0;
  margin-top: 0.25em;
}

a {
  color: #c99d9a;
  text-decoration: none;
}

a:hover {
  color: #9d9ac9;
}

#web-address {
  margin-top: 1em;
  color: #c99d9a;
  font-family: Monaco, Menlo, monospace, sans-serif;
  font-size: 100%;
  letter-spacing: .2rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  height: 1em;
  position: relative;
  top: 0.1em;
}

#photo {
  position: absolute;
  height: 200px;
    top: 50px;
    left: -230px;
}

/*
@media only screen and (max-width: 480px) {
  make one column somehow...
}*/
